
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Rohit Ghadshi</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/rohit1.jpeg' %}" >
					<hr>
					<h4>Hi I'm Rohit!</h4>
					<p>I love coding, </p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First Job as a DATA Engineer</h4>
					<hr>
					<p>I Started my job carrier since 2018. I joined Servify as Application Support Engineer First. in same year i took admission for Master IN Information Technology. Along with job i completed my master in 2020 and later i have decided to move in development activities.</p>

					<p>In Application Support Engineer I were handling production issue along with creating script for the bulk task in python language.</p>

					<p>I moved in Data Engineer Team in 2020. In Data Engineer, I enrolled in ReportsAPI module, we are creating the API as per the business requirement. Also i have managed configuration file along with ETL activities of DATA warehousing.</p>

					<ul class="social-links">
						<li>
							<a href="https://github.com/rohitghadshi07?tab=repositories">
							<img class="social" src="{% static 'images/github2.jpg' %}" width="48">
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/in/rohit-ghadshi-046114165/">
								<img class="social" src="{% static 'images/linkedin.png' %}">
							</a>
						</li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a DATA engineer</h5>
					<hr>
					<p>Data Engineer || at Servify.</p>
					<p>Experienced Software Developer with a demonstrated history of working in the consumer electronics industry. Design and build the reports APIs with Django framework from scratch as per
						the business requirement.Worked With DataDog, analyzing and improving the performance in reports.Took ownership of the projectrelease manager, with data-migration activities
						and deployment tasks.Built the pipeline by working on Table Ingestion activities using ETL process and
						stored procedure.Worked on TAT calculation, TestBed and CDC reset activities and cron setup.
					</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Programming skill : Python, Django, Pandas, MongoDB and MySQL</p>
					<p>I Self learned about AWS, GIT, Apache Airflow</p>
					<p>Apart from this I learned WebScrapping, DataDog Monitoring and Kibana Searching etc..</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>Excited to learn something new.</p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>